# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/

# Dataset
data/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Future checkpoints
checkpoint/EMNIST_letters/
checkpoint/EMNIST_byclass_letters/